#navbar {
    background-color: #ededed;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

#navbar a {
    color: rgb(253, 0, 0);
    text-decoration: none;
}