body {
  margin: 20px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  font-family: sans-serif;
  text-align: center;
  transition: background-color 0.3s ease; 
}

.big {
  font-size: 3rem;
  font-weight: bold;
}

img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

/* === NAVBAR === */
#navbar {
  background-color: #2412cb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 30px;
  border-radius: 25px 25px 0 0;
  transition: background-color 0.3s ease;
}

#navbar a {
  color: rgb(0, 247, 230);
  text-decoration: none;
  font-weight: bold;
}

#navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

#navbar ul li a {
  padding: 10px 14px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#navbar ul li a:hover {
  b
